<?xml version="1.0"?>
<config>
  <modules>
    <Homebase_Advancefilter>
      <version>0.1.0</version>
    </Homebase_Advancefilter>
  </modules>
  <frontend>
    <routers>
      <advancefilter>
        <use>standard</use>
          <args>
            <module>Homebase_Advancefilter</module>
            <frontName>advancefilter</frontName>
          </args>
      </advancefilter>
    </routers>
		<layout>
		  <updates>
			<advancefilter>
			  <file>advancefilter.xml</file>
			</advancefilter>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <advancefilter>
        <class>Homebase_Advancefilter_Helper</class>
      </advancefilter>
    </helpers>
	<blocks>
	  <advancefilter>
		<class>Homebase_Advancefilter_Block</class>
	  </advancefilter>
	</blocks>
	<resources>
	  <advancefilter_setup>
		<setup>
		  <module>Homebase_Advancefilter</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </advancefilter_setup>
	  <advancefilter_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </advancefilter_write>
	  <advancefilter_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </advancefilter_read>
	</resources>
  </global>
</config> 