<?xml version="1.0"?>
<config>
  <modules>
    <Homebase_SimpleFilter>
      <version>0.1.0</version>
    </Homebase_SimpleFilter>
  </modules>
  <frontend>
    <routers>
      <simplefilter>
        <use>standard</use>
          <args>
            <module>Homebase_SimpleFilter</module>
            <frontName>simplefilter</frontName>
          </args>
      </simplefilter>
    </routers>
		<layout>
		  <updates>
			<simplefilter>
			  <file>simplefilter.xml</file>
			</simplefilter>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <simplefilter>
        <class>Homebase_SimpleFilter_Helper</class>
      </simplefilter>
    </helpers>
	<blocks>
	  <simplefilter>
		<class>Homebase_SimpleFilter_Block</class>
	  </simplefilter>
	</blocks>
  </global>
</config> 